.mainContacto{
    width: 70%;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    
}

.mainContacto h1{
    text-align: center;
    padding: 15px;
    color: darkslategray;
}

.mainContacto hr{
    
    width: 60%;
    margin: 10px;
    
    
}

.imgContact{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.imgContact a{
    width: 50%;
}
.imgContact img{
    width: 100%;
/*    height: 100%;*/
}

@media only screen and (max-width: 600px) {
    
    .mainContacto{
     width: 100%;   
    }
    
}